.pag-inicial{
    text-align: center;
   background-color: black;
}

body{

    background-attachment: fixed;
    background-color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;

}

body img {
    width: 500spx;
    height: 400px;

}

h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: azure;
    font-size: 1000;
}


.botao a{
    color: azure;
    text-decoration: none;
    background-color: gray;
    font-size: larger;
    padding: 10px;
    border-radius: 15px;
    
}

.botao{
   
    text-align: center;
    
}
