<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cr7canal</title>
    <link rel="stylesheet" href="static/estilo.css">
</head>

<body>
    <div class="inteiro">
        <div class="lateral">
            <a href="/principal">
                <img src="static/cr7logoprincipal.png">
            </a>
            <p id="textinho">Canal</p>
            <div class="links">
                <ul>
                    <li> <a href="/canal">Canal</a></li>
                    <br>
                    <br>
                    <li> <a href="/música">Músicas</a></li>
                    <br>
                    <br>
                    <li> <a href="/principal">Vídeos</a></li>
                    <br>
                    <br>
                </ul>
                <img id="config" src="static/configurações.png">
            </div>


        </div>
        <div class="PRINCIPAL2">
            <div class="imagem-fundo">
                <img src="static/cr7fundo.jpg">
            </div>
            <div class="canal">
                <div class="logocanal">
                    <img src="static/imagemlogo.jpg">
                </div>
                <div class="titulo">
                    <h1>UR · Cristiano</h1>
                    <p>Bem-vindo a UR Cristiano - o canal de Youtube oficial de Cristiano Ronaldo. SIUUUbscreve!</p>
                </div>
            </div>
        </div>
    </div>
        



</body>

</html>