<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>

   <link rel="shortcut icon" href="logo.png" type="image/x-icon">
   <link rel="stylesheet" href="static/estilo.css">
</head>
<body class="index">
    <div class="pag-inicial">
        <img src="static/cr7logo.png">
        <h1>CrSite</h1>
        <img src=""
        
        <div class="botao">
            <a href="/login">Login</a>
            <a href="/cadastro">Cadastrar-se</a>
        </div>
    </div>
</body>
</html>