<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/estilo.css">

</head>
<body class="login">
    <div class="caixa-de-login">
        <form action="/verificar_login" method="POST">
            <h2>Login</h2>
            <p>Usúario</p>
            <!--adicona entrada de texto-->
            <input type="text" id="usuario" name="usuario" placeholder="...">
            
            <p>Senha</p>
            <input type="password" id="senha" name="senha" placeholder="...">
            <br>
            {%with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="resposta">
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}
            <button href="/principal">Entrar</button>
        </form>
        
    </div>
</body>
    
</body>
</html>