<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/estilo.css">

</head>
<body class="login">
    <div class="caixa-de-login">
        <h2>Login</h2>
        <p>Usúario</p>
        <!--adicona entrada de texto-->
        <input type="text" name="usuario" placeholder="...">
        <p>Senha</p>
        <input type="password" name="senha" placeholder="...">
        <br>
        <a href="/principal">Entrar</a>
        
    </div>
</body>
    
</body>
</html>