<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Músicas</title>
    <link rel="stylesheet" href="static/estilo.css">
</head>
<body>
    <div class="inteiro">
        <div class="lateral">
            <a href="principal.html">
                <img src="static/cr7logoprincipal.png">
            </a>
            <p id="textinho2">Músicas</p>
            <div class="links">
                <ul>
                    <li> <a href="canais">Canais</a></li>
                    <br>
                    <br>
                    <li> <a href="/música">Músicas</a></li>
                    <br>
                    <br>
                    <li> <a href="/principal">Vídeos</a></li>
                    <br>
                    <br>
                </ul>
                <img id="config" src="static/configurações.png">
            </div>
        </div>
        <div class="PRINCIPAL">
        <div class="barra-de-pesquisa">
            <input type="text">
            <img src="static/lupa.png">
        </div>
        <div class="videos">
            <div class="video-item">
                <a href="https://youtu.be/FxBhECeKLFA?si=JqLRr_9jI7eAkO6m" target="_blank">
                <img src="static/image.png" alt="">
                <p>E se o cr7 fosse Brasileiro?</p>
                </a>
            </div>

            <div class="video-item">
                <a href="https://youtu.be/RH8EOKe91N4?si=JofJ4dtE_rXWKCdt" target="_blank">       
                <img src="static/image (1).png" alt="">
                <p>Cr7 e sua bike monstra</p>
                </a>
            </div>


            <div class="video-item">
                <a href="https://youtu.be/DpNkgCw3NoM?si=Yj-jBS0hm8Z5NeO3" target="_blank">
                    <img src="static/image (2).png" alt="">
                    <p>Cr7 destrói o atlético de Madrid </p>
                </a>
                                
            </div>


            <div class="video-item">
                <a href="https://youtu.be/6_XtAtMPqdY?si=3A1HLUFVPwu8YR4I" target="_blank">       
                <img src="static/image (3).png" alt="">
                <p>Quando o gajo bate forte</p>
                </a>
            </div>


            <div class="video-item">
                <a href="https://youtu.be/I-p7Tnt09u4?si=N3jw35YTQ1YI1ycB" target="_blank">
                    <img src="static/image (4).png" alt="">
                    <p>E se cr7 for mesmo um robô?</p>
                </a>
            </div>



            <div class="video-item">
                <a href="https://youtu.be/YOHxYq0IvGg?si=Uw3w4XfPrSs37ZQn" target="_blank">
                    <img src="static/image (5).png" alt="">
                    <p>Cr7 voltou pra casa</p>
                </a>
            </div>


            <div class="video-item">
                <a href="https://youtu.be/3spZEu-SXgo?si=B6IKa9kn7hznED0S" target="_blank">
                    <img src="static/image (6).png" alt="">
                    <p>Cristiano Ronaldo na Juventus</p>
                </a>
            </div>


            <div class="video-item">
                <a href="https://youtu.be/lfyiTNbD8_c?si=bKyPJYYNV_cYowOK" target="_blank">
                    <img src="static/image (7).png" alt="">
                    <p>Cristiano Ronaldo-900 gols</p>
                </a>
            </div>



            <div class="video-item">
                <a href="https://youtu.be/2SGcoYJHbG0?si=lTdccAehwk7V9jPR" target="_blank">
                    <img src="static/image (8).png" alt="">
                    <p>Medley paródias Cr7</p>
                </a>
                </div>


            <div class="video-item">
                <a href="https://youtu.be/74ltjKk4IoY?si=DuWLdzkJSNnJwT7I" target="_blank">
                    <img src="static/image (9).png" alt="">
                    <p>Cr7 o maior artilheiro por seleções</p>
                </a>
            </div>


            <div class="video-item">
                <a href="https://youtu.be/zNGohWqH2zg?si=LsJjD082nw4em8Vx" target="_blank">
                    <img src="static/image (13).png" alt="">
                    <p>CR7 canta OLD TOWN ROAD</p>
                </a>
            </div>


            <div class="video-item">
                <a href="https://youtu.be/p-_LrBFS-O0?si=H4HehOuXeA9NI9X0" target="_blank">
                <img src="static/image (11).png" alt="">
                    <p>CR7 FORA DO REAL?</p>
                </a>
                
            </div>



        </div>
        </div>
    </div>
    </div>
</body>
</html>