<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela principal</title>
    <link rel="stylesheet" href="static/estilo.css">
</head>

<body>
    <div class="inteiro">
        <div class="lateral">
            <a href="/principal">
                <img src="static/cr7logoprincipal.png">
            </a>
            <p id="textinho">Vídeos</p>
            <div class="links">
                <ul>
                    <li> <a href="/canal">Canal</a></li>
                    <br>
                    <br>
                    <li> <a href="/música">Músicas</a></li>
                    <br>
                    <br>
                    <li> <a href="/principal">Vídeos</a></li>
                    <br>
                    <br>
                </ul>
                <img id="config" src="static/configurações.png">
            </div>
        </div>
        <div class="PRINCIPAL">
            <div class="barra-de-pesquisa">
                <input type="text">
                <img src="static/lupa.png">
            </div>
            <div class="videos">
                <div class="video-item">
                    <a href="https://youtu.be/E6bw0a6Mmx4?si=Byw93L2NK-InBEA1" target="_blank">
                        <img src="static/image1.png" alt="">
                        <p>Cristiano Ronaldo 100+ Wow skills</p>
                    </a>
                </div>

                <div class="video-item">
                    <a href="https://youtu.be/ttDbSrXnCH4?si=gK1_OBwE9QxHwb2c" target="_blank">
                        <img src="static/image 3.png" alt="">
                        <p>CR7 Ballon d'Or skills 2008</p>
                    </a>
                </div>


                <div class="video-item">
                    <a href="https://youtu.be/D2LeEZGRhJ8?si=gfBjUkXko9aY6STN" target="_blank">
                        <img src="static/image 4.png" alt="">
                        <p>CR7 Legendary goals impossible</p>
                    </a>
                </div>


                <div class="video-item">
                    <a href="https://youtu.be/mxQOOMX4NQM?si=bhqD18K-O4Ht7GCC" target="_blank">
                        <img src="static/image 5.png" alt="">
                        <p>Greatest Goal Ever by CR7 </p>
                    </a>
            </div>


            <div class="video-item">
                <a href="https://youtu.be/SwHv6xGGBBQ?si=xQvetnoUcwqezkzN" target="_blank">
                    <img src="static/image 6.png" alt="">
                    <p>Cr7 goals and crazy skils 2024</p>
                </a>
            </div>



            <div class="video-item">
                <a href="https://youtu.be/rtsNAzXktBw?si=8ORmJBIzNqpCi_iL" target="_blank">
                    <img src="static/image 7.png" alt="">
                    <p>Crazy Skills Portugal Cr7</p>
                </a>
            </div>


            <div class="video-item">
                <a href="https://youtu.be/2J-Q7Fj0dtk?si=XtyuF1uJNmSHRC9X" target="_blank">
                    <img src="static/image 8.png" alt="">
                    <p>Cristiano Ronaldo 2024 skills portugal</p>
                </a>
            </div>


            <div class="video-item">
                <a href="https://youtu.be/NJv9SOtNOJY?si=7bMwsldTGg7RlJuH" target="_blank">
                    <img src="static/image 9.png" alt="">
                    <p>Cr7 skills and goals 2024</p>
                </a>
            </div>



            <div class="video-item">
                <a href="https://youtu.be/j6FpcvSor8g?si=PBIDY9VSMyNTEDbN" target="_blank">
                    <img src="static/image 10.png" alt="">
                    <p>CR7 Skills Real Madrid</p>
                </a>
            </div>


            <div class="video-item">
                <a href="https://youtu.be/5hFd6zGkxLE?si=pD-8krRVcM5xuFVn" target="_blank">
                    <img src="static/image 11.png" alt="">
                    <p>Thank you-Cristiano Ronaldo</p>
                </a>
            </div>


            <div class="video-item">
                <a href="https://youtu.be/WvF7n1OrJwM?si=Gl72Ov3vF2NMddvl" target="_blank">
                    <img src="static/image 12.png" alt="">
                    <p>CR7 SIUUUUU!!!</p>
                </a>
            </div>


            <div class="video-item">
                <a href="https://youtu.be/FF-xO6Arl4g?si=jE3AS2Rc09fL_Ppk" target="_blank">
                    <img src="static/image2.png" alt="">
                    <p>CR7 * STARBOY/2020 SKILLS</p>
                </a>
            </div>



        </div>
    </div>
    </div>
    </div>



</body>

</html>